/C#/src/Intermediate/bin
/C#/src/Intermediate/obj
/C#/test/TestIntermediate/bin
/C#/test/TestIntermediate/obj
/C#/.vs
/Java/Intermediate/.mvn
/Java/Intermediate/.idea
/Python/.venv
/Python/.idea
/Python/src/__pycache__
/Python/src/day44/__pycache__
/Python/test/__pycache__
/Python/test/day44/__pycache__
/Python/test/day45/__pycache__/test_Exercise.cpython-314.pyc
/C#/src/BenchmarkDotNet/obj
/C#/src/BenchmarkDotNet/bin
/Python/src/performance/__pycache__
